/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}
/* ===============================================================================
-------------------------------header section styles------------------------------ 
===================================================================================*/
.nav-logo-text{
    color: #3E3E3E;
    font-size: 1.2rem;
    font-weight: 700;
}
.nav-links-color{
    color: #3E3E3E;
    font-weight: 500;
    font-size: 1rem;
}






/* ===============================================================================
-------------------------------main section styles------------------------------ 
===================================================================================*/
.text-size-1{
    font-size: 2rem;
    font-weight: 700;
}
.text-size-2{
    font-size: 1rem;
    font-weight: 500;
}
/* ===============================================================================
-------------------------------footer section styles------------------------------ 
===================================================================================*/